[submodule "lib/jQuery"]
	path = lib/jQuery
	url = https://gist.github.com/6035232.git
[submodule "lib/Class"]
	path = lib/Class
	url = https://gist.github.com/6034750.git
[submodule "lib/markdown"]
	path = lib/markdown
	url = https://github.com/evilstreak/markdown-js.git
[submodule "lib/Handlebars"]
	path = lib/Handlebars
	url = https://github.com/wycats/handlebars.js.git
[submodule "lib/require"]
	path = lib/require
	url = https://github.com/jrburke/requirejs
[submodule "lib/require-text"]
	path = lib/require-text
	url = https://github.com/requirejs/text.git
[submodule "lib/require-less"]
	path = lib/require-less
	url = https://github.com/guybedford/require-less.git

[submodule "lib/require-css"]
	path = lib/require-css
	url = https://github.com/guybedford/require-css.git
